<section class="bg-black h-screen overflow-hidden relative">
    <div class="z-20 relative h-full flex flex-col items-center pt-28 gap-8">
        <div class="h-[80%] w-[70%] object-cover">
            <img src="/public/images-energy/sleek-durable-desktop.avif" alt="" class="rounded-[10px]">
        </div>
        <div class="h-[15%] w-[70%] flex">
            <h2 class="text-white text-[50px] font-medium w-[40%]">Sleek and Durable</h2>
            <p class="text-white text-[28px] text-base w-[70%] pt-4">Tesla uses solar panels that offer a sleek and 
                modern take on traditional panels. With our proprietary mounting hardware, panels can be installed close 
                to your roof without the need for rails, so they blend in with your roofline. Durable and weatherproof, 
                they can power your home for decades to come.
            </p>
        </div>

    </div>
</section>