<section class="bg-black h-screen text-center overflow-hidden relative">
    <div class="z-20 relative h-full flex flex-col">
    <header class="">
        <h2 class="text-white pt-28 text-[56px] font-medium">Save With Solar Over Time</h2>
            <p class="text-white text-[28px] text-base ml-96 mr-96">Generate your own clean energy from the sun for free with solar. Add Powerwall to store your energy for 
                use anytime you need it. Tax incentives and flexible financing options ensure you get the best price for your solar system.
            </p>
    </header>

    <footer class="flex flex-col justify-end flex-grow text-white">
        <div class="flex w-full h-[140px] justify-center gap-36 bg-gradient-to-tl from-black to-transparent">
            <div class="justify-center w-[20.3%]">
                <h2 class="text-white text-[35px] font-medium">Sustainable Energy</h2>
                <p class="text-white text-[28px] text-base">Power your home with emissions-free, renewable energy directly from the sun.
                </p>
            </div>
            <div class="justify-center w-[20.3%]">
                <h2 class="text-white text-[35px] font-medium">Tax Incentives</h2>
                <p class="text-white text-[28px] text-base">You may qualify for federal, state and local tax incentives that can help cut your installation costs.
                </p>
            </div>
            <div class="justify-center w-[20.3%]">
                <h2 class="text-white text-[35px] font-medium">Monthly Bill Savings</h2>
                <p class="text-white text-[28px] text-base">Generating energy from the sun is free—using it to power your home can help protect you from rising energy costs.
                </p>
            </div>
        </div>

    </footer>
</div>
    
    <div class="absolute top-0 bottom-0 z-10 object-cover h-full">
        <video src="/public/images-energy/sleek-durable-desktop.avif" muted loop autoplay></video>
    </div>
</section>