<section class="bg-black h-screen overflow-hidden relative">
    <div class="z-20 relative h-full flex flex-col items-center pt-28 gap-4">
        <div class="w-[80%] object-cover">
            <img src="/public/images-energy/solar-panels-carousel-01-desktop.avif" alt="" class="rounded-[10px]">
        </div>
        <div class="h-[20%] w-[80%] flex">
            <div class="h-1 w-[25%] bg-white m-4">
                <h2 class="text-white text-[38px] font-medium">Simple Aesthetic</h2>
                <p class="text-white text-[18px]">Panels and sjirts are all black, creating a uniform, monochromatic look.</p>
            </div>
            <div class="h-1 w-[25%] bg-white m-4">
                <h2 class="text-white text-[38px] font-medium">Weather Resistant</h2>
                <p class="text-white text-[18px]">Installation points are sealed to protect against rain, snow and ice.</p>
            </div>
            <div class="h-1 w-[25%] bg-white m-4">
                <h2 class="text-white text-[38px] font-medium">Easy Installation</h2>
                <p class="text-white text-[18px]">
                    Proprietary hardware and streamlined installation help to minimize impact to your roof.
                  </p>
            </div>
            <div class="h-1 w-[25%] bg-white m-4">
                <h2 class="text-white text-[38px] font-medium">Low Profile</h2>
                <p class="text-white text-[18px]">
                    Rail-free mounting keeps panels close to your roof and panel skirts hide hardware and edges from view.
                  </p>
            </div>
        </div>

    </div>
</section>