---
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import StoreChangeMoto from "../components/StoreChangeMoto.astro";
---

<Layout title="Tesla/Store.">
    <LandingHeader />

<div class="carousel h-[100vh] w-[99vw] overflow-hidden relative"> <!-- carrusel-->
    <div class="list"> <!-- lista del carrusel -->
        <div class="item w-[100%] h-[100%] absolute inset-0"> <!-- Item del carrusel -->
            <img src="img1.jpg" alt="" class="w-[100%] h-[100%] object-cover animate-showImage">
            <div class="absolute top-[15%] w-[1140px] max-w-[80%] -left-[9.4%] translate-x-1/2 pr-[30%] text-white box-border"> <!-- contenido -->
                <div class="text-[12px] font-bold tracking-custom-10px animate-showContent">TESLA</div> <!-- autor -->
                <div class="text-6xl font-bold leading-custom-1.3em animate-showContent delay-[1.2s]">DESIGN SLIDER</div> <!-- titulo -->
                <div class=" text-7xl font-bold leading-custom-1.3em text-orange-400 animate-showContent delay-[1.4s]">VEHICLE</div> <!-- topic -->
                <div class="text-[12px] animate-showContent delay-[1.6s]">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, 
                    excepturi animi dolore explicabo doloremque veritatis tempore 
                    quas officiis ratione voluptatem a. Illum quasi eligendi dolore corrupti temporibus est iure rem eaque voluptatibus beatae dolorem facilis, quam non molestiae atque officiis 
                    tempore doloremque ad? Explicabo laborum temporibus, velit delectus deleniti dolores
                    consectetur nobis eum quod, doloribus quis pariatur. Numquam quod officiis voluptatibus
                    adipisci, maxime quas magnam amet, nesciunt at temporibus, eum autem voluptates nam incidunt?
                </div> <!-- descripcion -->

                <div class="grid gap-5 mt-5 grid-cols-custom-2x130px grid-rows-custom-40px [&>button]:border-none [&>button]:tracking-widest [&>button]:font-poppins animate-showContent delay-[1.8s]"> <!-- Contenedor botones -->
                    <button class="bg-white text-black border-solid border-white border-1 duration-[.5s] hover:bg-slate-500 hover:text-white hover:cursor-pointer">VER MAS</button>
                    <button class=" bg-transparent border-solid border-white border-2">COMPRAR</button>
                </div>
            </div>
        </div>

        <div class="item w-[100%] h-[100%] absolute inset-0"> <!-- Item del carrusel -->
            <img src="img2.jpg" alt="" class="w-[100%] h-[100%] object-cover animate-showImage">
            <div class="absolute top-[15%] w-[1140px] max-w-[80%] -left-[9.4%] translate-x-1/2 pr-[30%] text-white box-border"> <!-- contenido -->
                <div class="text-[12px] font-bold tracking-custom-10px animate-showContent">TESLA</div> <!-- autor -->
                <div class="text-6xl font-bold leading-custom-1.3em animate-showContent delay-[1.2s]">DESIGN SLIDER</div> <!-- titulo -->
                <div class=" text-7xl font-bold leading-custom-1.3em text-orange-400 animate-showContent delay-[1.4s]">VEHICLE</div> <!-- topic -->
                <div class="text-[12px] animate-showContent delay-[1.6s]">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, 
                    excepturi animi dolore explicabo doloremque veritatis tempore 
                    quas officiis ratione voluptatem a. Illum quasi eligendi dolore corrupti temporibus est iure rem eaque voluptatibus beatae dolorem facilis, quam non molestiae atque officiis 
                    tempore doloremque ad? Explicabo laborum temporibus, velit delectus deleniti dolores
                    consectetur nobis eum quod, doloribus quis pariatur. Numquam quod officiis voluptatibus
                    adipisci, maxime quas magnam amet, nesciunt at temporibus, eum autem voluptates nam incidunt?
                </div> <!-- descripcion -->

                <div class="grid gap-5 mt-5 grid-cols-custom-2x130px grid-rows-custom-40px [&>button]:border-none [&>button]:tracking-widest [&>button]:font-poppins animate-showContent delay-[1.8s]"> <!-- Contenedor botones -->
                    <button class="bg-white text-black border-solid border-white border-1 duration-[.5s] hover:bg-slate-500 hover:text-white hover:cursor-pointer">VER MAS</button>
                    <button class=" bg-transparent border-solid border-white border-2">COMPRAR</button>
                </div>
            </div>
        </div>

        <div class="item w-[100%] h-[100%] absolute inset-0"> <!-- Item del carrusel -->
            <img src="img3.jpg" alt="" class="w-[100%] h-[100%] object-cover animate-showImage">
            <div class="absolute top-[15%] w-[1140px] max-w-[80%] -left-[9.4%] translate-x-1/2 pr-[30%] text-white box-border"> <!-- contenido -->
                <div class="text-[12px] font-bold tracking-custom-10px animate-showContent">TESLA</div> <!-- autor -->
                <div class="text-6xl font-bold leading-custom-1.3em animate-showContent delay-[1.2s]">DESIGN SLIDER</div> <!-- titulo -->
                <div class=" text-7xl font-bold leading-custom-1.3em text-orange-400 animate-showContent delay-[1.4s]">VEHICLE</div> <!-- topic -->
                <div class="text-[12px] animate-showContent delay-[1.6s]">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, 
                    excepturi animi dolore explicabo doloremque veritatis tempore 
                    quas officiis ratione voluptatem a. Illum quasi eligendi dolore corrupti temporibus est iure rem eaque voluptatibus beatae dolorem facilis, quam non molestiae atque officiis 
                    tempore doloremque ad? Explicabo laborum temporibus, velit delectus deleniti dolores
                    consectetur nobis eum quod, doloribus quis pariatur. Numquam quod officiis voluptatibus
                    adipisci, maxime quas magnam amet, nesciunt at temporibus, eum autem voluptates nam incidunt?
                </div> <!-- descripcion -->

                <div class="grid gap-5 mt-5 grid-cols-custom-2x130px grid-rows-custom-40px [&>button]:border-none [&>button]:tracking-widest [&>button]:font-poppins animate-showContent delay-[1.8s]"> <!-- Contenedor botones -->
                    <button class="bg-white text-black border-solid border-white border-1 duration-[.5s] hover:bg-slate-500 hover:text-white hover:cursor-pointer">VER MAS</button>
                    <button class=" bg-transparent border-solid border-white border-2">COMPRAR</button>
                </div>
            </div>
        </div>

        <div class="item w-[100%] h-[100%] absolute inset-0"> <!-- Item del carrusel -->
            <img src="img4.jpg" alt="" class="w-[100%] h-[100%] object-cover animate-showImage">
            <div class="absolute top-[15%] w-[1140px] max-w-[80%] -left-[9.4%] translate-x-1/2 pr-[30%] text-white box-border"> <!-- contenido -->
                <div class="text-[12px] font-bold tracking-custom-10px animate-showContent">TESLA</div> <!-- autor -->
                <div class="text-6xl font-bold leading-custom-1.3em animate-showContent delay-[1.2s]">DESIGN SLIDER</div> <!-- titulo -->
                <div class=" text-7xl font-bold leading-custom-1.3em text-orange-400 animate-showContent delay-[1.4s]">VEHICLE</div> <!-- topic -->
                <div class="text-[12px] animate-showContent delay-[1.6s]">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, 
                    excepturi animi dolore explicabo doloremque veritatis tempore 
                    quas officiis ratione voluptatem a. Illum quasi eligendi dolore corrupti temporibus est iure rem eaque voluptatibus beatae dolorem facilis, quam non molestiae atque officiis 
                    tempore doloremque ad? Explicabo laborum temporibus, velit delectus deleniti dolores
                    consectetur nobis eum quod, doloribus quis pariatur. Numquam quod officiis voluptatibus
                    adipisci, maxime quas magnam amet, nesciunt at temporibus, eum autem voluptates nam incidunt?
                </div> <!-- descripcion -->

                <div class="grid gap-5 mt-5 grid-cols-custom-2x130px grid-rows-custom-40px [&>button]:border-none [&>button]:tracking-widest [&>button]:font-poppins animate-showContent delay-[1.8s]"> <!-- Contenedor botones -->
                    <button class="bg-white text-black border-solid border-white border-1 duration-[.5s] hover:bg-slate-500 hover:text-white hover:cursor-pointer">VER MAS</button>
                    <button class=" bg-transparent border-solid border-white border-2">COMPRAR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="thumbnail absolute bottom-[69px] left-[50%] w-max z-10 flex gap-4 animate-showThumbnail"> <!-- Contenedor del slider -->
        <div class="item w-[150px] h-[220px] shrink-0 relative"> <!-- item del contenedor del slider -->
            <img src="img1.jpg" alt="" class="w-[100%] h-[100%] object-cover rounded-[20px]">
            <div class="text-white text-[11px] absolute bottom-1 left-4 right-4"> <!-- Contenedor del contenido del slider -->
                <div class="font-medium">Name Slider</div> <!-- Titulo de cada slider -->
                <div class="font-light">Description</div> <!-- Descripcion de cada slider -->
            </div>
        </div>

        <div class="item w-[150px] h-[220px] shrink-0 relative"> <!-- item del contenedor del slider -->
            <img src="img2.jpg" alt="" class="w-[100%] h-[100%] object-cover rounded-[20px]">
            <div class="text-white text-[11px] absolute bottom-1 left-4 right-4"> <!-- Contenedor del contenido del slider -->
                <div class="font-medium">Name Slider</div> <!-- Titulo de cada slider -->
                <div class="font-light">Description</div> <!-- Descripcion de cada slider -->
            </div>
        </div>

        <div class="item w-[150px] h-[220px] shrink-0 relative"> <!-- item del contenedor del slider -->
            <img src="img3.jpg" alt="" class="w-[100%] h-[100%] object-cover rounded-[20px]">
            <div class="text-white text-[11px] absolute bottom-1 left-4 right-4"> <!-- Contenedor del contenido del slider -->
                <div class="font-medium">Name Slider</div> <!-- Titulo de cada slider -->
                <div class="font-light">Description</div> <!-- Descripcion de cada slider -->
            </div>
        </div>

        <div class="item w-[150px] h-[220px] shrink-0 relative"> <!-- item del contenedor del slider -->
            <img src="img4.jpg" alt="" class="w-[100%] h-[100%] object-cover rounded-[20px]">
            <div class="text-white text-[11px] absolute bottom-1 left-4 right-4"> <!-- Contenedor del contenido del slider -->
                <div class="font-medium">Name Slider</div> <!-- Titulo de cada slider -->
                <div class="font-light">Description</div> <!-- Descripcion de cada slider -->
            </div>
        </div>

    </div>

    <div class="absolute top-[80%] right-[52%] z-10 w-[300px] max-w-[30%] flex gap-2 align-items-center"> <!-- Flechitas para mover el slider(carrusel) -->
        <button id="prev" class="h-11 w-11 rounded-[50%] bg-slate-600 border-none text-white font-monospace font-bold duration-[.5s] hover:bg-white hover:text-black hover:cursor-pointer"><</button> <!-- boton anterior -->
        <button id="next" class="h-11 w-11 rounded-[50%] bg-slate-600 border-none text-white font-monospace font-bold duration-[.5s] hover:bg-white hover:text-black hover:cursor-pointer">></button> <!-- boton siguiente -->
    </div>

    <div class="time absolute z-10 w-0 h-1 bg-orange-400 left-0 top-0 animate-runningTime"></div>
</div>

<StoreChangeMoto />


<script>
    let nextDom = document.getElementById('next');
    let prevDom = document.getElementById('prev');
    
    let carouselDom = document.querySelector('.carousel');
    let SliderDom = carouselDom.querySelector('.carousel .list');
    let thumbnailBorderDom = document.querySelector('.carousel .thumbnail');
    let thumbnailItemsDom = thumbnailBorderDom.querySelectorAll('.item');
    let timeDom = document.querySelector('.carousel .time');
    
    thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
    let timeRunning = 3000;
    let timeAutoNext = 3000;
    
    nextDom.onclick = function(){
        showSlider('next');    
    }
    
    prevDom.onclick = function(){
        showSlider('prev');    
    }
    let runTimeOut;
    let runNextAuto = setTimeout(() => {
        nextDom.click();
    }, timeAutoNext)
    function showSlider(type){
        let  SliderItemsDom = SliderDom.querySelectorAll('.carousel .list .item');
        let thumbnailItemsDom = document.querySelectorAll('.carousel .thumbnail .item');
        
        if(type === 'next'){
            SliderDom.appendChild(SliderItemsDom[0]);
            thumbnailBorderDom.appendChild(thumbnailItemsDom[0]);
            carouselDom.classList.add('next');
        }else{
            SliderDom.prepend(SliderItemsDom[SliderItemsDom.length - 1]);
            thumbnailBorderDom.prepend(thumbnailItemsDom[thumbnailItemsDom.length - 1]);
            carouselDom.classList.add('prev');
        }
        clearTimeout(runTimeOut);
        runTimeOut = setTimeout(() => {
            carouselDom.classList.remove('next');
            carouselDom.classList.remove('prev');
        }, timeRunning);
    
        clearTimeout(runNextAuto);
        runNextAuto = setTimeout(() => {
            nextDom.click();
        }, timeAutoNext)
    }
</script>


</Layout>
