<section class="bg-white h-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col">
    <header class="">
        <h2 class="text-white pt-40 text-[50px] font-medium">Model 3</h2>
        <p class="text-white text-base underline">1.99% APR Financing Ending August 31</p>
        <p class="text-white text-base"> From $34,9901</p>
    </header>

    <footer class="flex flex-col justify-end flex-grow text-white pb-20">
        <div class="flex gap-x-4 justify-center">
            <a class="border-[3px] bg-/5 backdrop-blur-xl text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="">
                Ordenar ahora
            </a>

            <a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="">
                Prueba de conducción
            </a>
        </div>
    </footer>
</div>
    
    <div class="absolute top-0 bottom-0 z-10 object-cover h-full">
        <img src="/public/model-3.avif" alt="Model 3" >
    </div>
</section>