<section class="bg-black h-screen text-center overflow-hidden relative">
    <div class="z-30 relative h-full flex flex-col">
    <header class="">
        <h2 class="text-white pt-40 text-[50px] font-medium">Disfrute de Tesla</h2>
        <p class="text-white text-base">Programe una prueba de conduccion hoy mismo</p>
    </header>

    <footer class="flex flex-col justify-end flex-grow text-white pb-28">
        <div>
            <a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="">
                Prueba de conducción
            </a>
        </div>
    </footer>
</div>
    
    <div class="absolute top-0 bottom-0 z-10 object-cover h-full">
        <video src="/public/video.webm" autoplay muted loop></video>
    </div>
</section>