<section class="bg-black h-screen text-center overflow-hidden relative">
    <div class="z-20 relative h-full flex flex-col">
    <header class="">
        <h2 class="text-white pt-28 text-[56px] font-medium">Model 3</h2>
        <p class="text-white text-[28px] text-base">1.99% APR Financing Ending August 31</p>
        <p class="text-white text-[17px] text-base"> From $34,9901</p>
    </header>

    <footer class="flex flex-col justify-end flex-grow text-white pb-10">
        <div class="flex gap-x-4 justify-center">
            <a class="border-[3px] bg-/5 backdrop-blur-xl text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="">
                Ordenar ahora
            </a>

            <a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="">
                Prueba de conducción
            </a>
        </div>
    </footer>
</div>
    
    <div class="absolute top-0 bottom-0 z-10 object-cover h-full">
        <video src="/public/images-index/model-3.avif" autoplay muted loop></video>
    </div>
</section>